/* Reset body margin and set up the grid layout */
.game-page {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #000000;
}

/* Style for the title */
.game-page h1 {
  text-align: center;
  font-family: system-ui, sans-serif;
  font-size: 3rem;
  word-spacing: 0.8em;
}

.game-page h1 span:first-child {
  color: #af3817;
}

.game-page h1 span:last-child {
  color: #0b3fa1;
}
.game-page .grayscale {
  filter: grayscale(100%);

}
.gallery-img {
  transition: filter 0.3s ease;
}


/* Gallery Styles */
.game-page .gallery {
  --z: 32px;
  --s: 90vh;
  --g: 8px;

  display: grid;
  gap: var(--g);
  width: calc(2 * var(--s) + var(--g));
  grid-auto-flow: column;
}

/* Each item in the gallery */
.gallery .item {
  position: relative;
}

/* Image inside each gallery item */
.gallery > .item > img {
  width: 0;
  min-width: calc(100% + var(--z) / 2);
  height: var(--s);
  object-fit: cover;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  cursor: pointer;
  transition: 0.5s;
}

/* Hover effect on the image */
.gallery > .item > img:hover {
  width: calc(var(--s) / 2);
}

/* First item in the gallery */
.gallery > .item:first-child > img {
  place-self: start;
  border: solid 2px cyan;
  border-radius: 20px;
  border-right: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --mask: conic-gradient(
    from -135deg at right,
    #0000,
    #000 1deg 89deg,
    #0000 90deg
  )
  50%/100% calc(2 * var(--z)) repeat-y;
}

/* Last item in the gallery */
.gallery > .item:last-child > img {
  place-self: end;
  border: solid 2px red;
  border-radius: 20px;
  border-left: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --mask: conic-gradient(
    from 45deg at left,
    #0000,
    #000 1deg 89deg,
    #0000 90deg
  )
  50% calc(50% - var(--z)) / 100% calc(2 * var(--z)) repeat-y;
}

/* Label over the images */
.gallery .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: system-ui, sans-serif;
  text-shadow: 0 0 8px black;
  pointer-events: none;
  z-index: 20; /* MÃS que la imagen expandida */
}
.game-page .gallery.expanding > .item > img {
  width: 0 !important;
}

.game-page .gallery.expanding > .item > img.expanded {
  width: 60vw !important;
  object-position: center;
  object-fit: cover;
  background: black;
  position: relative;
  z-index: 10;
}