@import "tailwindcss";
html, body {
    min-height: 200vh;
    background: #000; /* o usa bg-black de Tailwind en el contenedor principal */
    margin: 0;
    padding: 0;
}

@media (max-width: 640px) {
    html, body {
        min-height: 400vh;
    }
}