/* @import "tailwindcss";
html, body {
    min-height: 200vh;
    background: #000; 
    margin: 0;
    padding: 0;
}

@media (max-width: 640px) {
    html, body {
        min-height: 400vh;
    }
} */